<%- include("header") -%>

<form action="/compose" method="post">
    <div class="mb-3">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title">
    </div>

    <div class="mb-3" style="margin-bottom: 10px !important;">
        <label for="content">Content</label>
        <textarea name="content" class="form-control" id="content" cols="30" rows="10"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Add</button>

</form>

<%- include("footer") -%>